{% include "header.html" %}

<div class="container Forgot shadow p-3 mb-5 bg-white rounded">
   <div class="row">
      <h1>Forgot Password</h1>

   </div>
   <div class="row">
      <form action="/forgotpassword" method="POST">
         <div class="form-group">
           <label for="exampleInputEmail1">UserName</label>
           <input class="form-control" name="username" placeholder="Enter UserName">
           <small id="emailHelp" class="form-text text-muted">if username exist in then code will verification code will send</small>
         </div>
         <button type="submit" class="btn btn-dark login_submit">Send Verification Code</button>
      </form>
   </div>
</div>

{% include "footer.html" %}